@import url('../../main.css');
@import url('../../style.css');

.history-container {
    display: flex;
    gap: 2rem;
}

.history-list, .history-form {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--secondary-color);
    color: var(--body-bg);
}

th, td {
    padding: var(--spacing-sm);
    border: 1px solid var(--primary-color);
    text-align: left;
}

.history-form form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.history-form .form-group {
  display: flex;
  flex-direction: column;
}

.history-form label {
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
}

.history-form input,
.history-form textarea {
  padding: 0.5rem;
  border: var(--border-width) solid var(--primary-color);
  border-radius: var(--border-radius);
}

.history-form button {
  padding: 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--body-bg);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.history-form button:hover {
  background-color: var(--tertiary-color);
}
