{% extends "base.html" %}
{% load static %}
{% block title %}
    Delete License
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Delete License
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>License Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'licenses:software_list' %}">Software</a>
            </li>
            <li>
                <a href="{% url 'licenses:license_list' %}" class="selected">Licenses</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'licenses:license_list' %}" class="action-tab">View Licenses</a>
        <a href="{% url 'licenses:license_add' %}" class="action-tab">Add License</a>
        <a class="action-tab selected">Delete License</a>
    </content-nav>
    <content>
        <div class="user-form-container">
            <form method="post">
                {% csrf_token %}
                <h2>Are you sure you want to delete this license?</h2>
                <div class="form-group">
                    <label>License Key:</label>
                    <input type="text" value="{{ license_item.license_key }}" readonly>
                </div>
                <div class="form-group">
                    <label>Software:</label>
                    <input type="text" value="{{ license_item.software.name }}" readonly>
                </div>
                <div class="form-group">
                    <label>User:</label>
                    <input type="text"
                           value="{{ license_item.user.name }} {{ license_item.user.surname }}"
                           readonly>
                </div>
                <div class="form-actions">
                    <button type="submit" class="delete">Delete</button>
                    <a href="{% url 'licenses:license_list' %}" class="cancel">Cancel</a>
                </div>
            </form>
        </div>
    </content>
    </container>
{% endblock content %}
