{% extends "base.html" %}
{% load static %}
{% block title %}
    Edit Hardware History
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'hardware/css/history/hardware-history-edit.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Edit Hardware History
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>Hardware Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'hardware:hardware_list' %}" class="selected">Hardware</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'hardware:hardware_history' hardware_id=object.hardware_id.pk %}"
           class="action-tab">View History</a>
        <a class="action-tab selected">Edit History Entry</a>
    </content-nav>
    <content>
        <div class="user-form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </content>
    </container>
{% endblock content %}
