{% extends "base.html" %}
{% load static %}
{% block title %}
    Add User
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_edit.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Add User
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>Users Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'users:users_list' %}" class="selected">Users</a>
            </li>
            <li>
                <a href="{% url 'users:roles_list' %}">Roles</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'users:users_list' %}" class="action-tab">View Users</a>
        <a href="{% url 'users:users_add' %}" class="action-tab selected">Add User</a>
    </content-nav>
    <content>
        <div class="user-form-container">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}<div class="form-error">{{ field.errors|striptags }}</div>{% endif %}
                    </div>
                {% endfor %}
                <button type="submit">Add User</button>
            </form>
        </div>
    </content>
    </container>
{% endblock content %}
