{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static "hardware/css/projects/project-list.css" %}">
{% endblock extra_css %}
{% block page_title %}
    <h2>Projects</h2>
{% endblock page_title %}
{% block content-nav %}
    <a href="{% url "hardware:project_add" %}" class="btn btn-primary">Add Project</a>
{% endblock content-nav %}
{% block panel %}
    <div class="project-list-header">
        <span>Name</span>
        <span>Supervisor</span>
        <span>Start Date</span>
        <span>End Date</span>
        <span class="actions-header">Actions</span>
    </div>
    <div class="project-list">
        {% for project in projects %}
            <div class="project-item">
                <div class="project-summary">
                    <span>{{ project.name }}</span>
                    <span>{{ project.supervisor_id.username }}</span>
                    <span>{{ project.start_date }}</span>
                    <span>{{ project.end_date|default:"-" }}</span>
                    <div class="actions">
                        <a href="{% url "hardware:project_edit" project.pk %}"
                           class="btn btn-edit">Edit</a>
                        <a href="{% url "hardware:project_delete" project.pk %}"
                           class="btn btn-delete">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock panel %}
