{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'hardware/css/projects/project-delete.css' %}">
{% endblock %}
{% block page_title %}<h2>Delete Project</h2>{% endblock %}
{% block content-nav %}
    <a href="{% url 'hardware:project_list' %}" class="btn btn-secondary">Cancel</a>
{% endblock %}
{% block panel %}
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object.name }}"?</p>
        <div class="form-buttons">
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
        </div>
    </form>
{% endblock %}
