{% extends "base.html" %}
{% load static %}
{% block title %}
    Hardware List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Hardware List
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>Hardware Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'hardware:hardware_list' %}" class="selected">Hardware</a>
            </li>
            <li>
                <a href="{% url 'hardware:history_list' %}">History</a>
            </li>
            <li>
                <a href="{% url 'hardware:project_list' %}">Projects</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'hardware:hardware_list' %}" class="action-tab selected">View Hardware</a>
        <a href="{% url 'hardware:hardware_add' %}" class="action-tab">Add Hardware</a>
    </content-nav>
    <content>
        <div class="user-list-header">
            <span class="user-id-header">ID</span>
            <span>Inv. Number</span>
            <span>Name</span>
            <span>Category</span>
            <span>Status</span>
            <span class="expand-icon-header"></span>
        </div>
        <div class="user-list">
            {% for hw in hardware_list %}
                <div class="user-item">
                    <div class="user-summary">
                        <span class="user-id">{{ hw.id }}</span>
                        <span>{{ hw.inventory_number }}</span>
                        <span>{{ hw.name }}</span>
                        <span>{{ hw.category_id.name }}</span>
                        <span>{{ hw.get_status_display }}</span>
                        <span class="expand-icon">▼</span>
                    </div>
                    <div class="user-details">
                        <p>
                            <strong>Serial Number:</strong> {{ hw.serial_number }}
                        </p>
                        <p>
                            <strong>Purchase Date:</strong> {{ hw.purchase_date }}
                        </p>
                        <p>
                            <strong>Warranty To:</strong> {{ hw.warranty_to }}
                        </p>
                        <p>
                            <strong>Assigned User:</strong> {{ hw.user.username|default:"-" }}
                        </p>
                        <p>
                            <strong>Assigned Project:</strong> {{ hw.project.name|default:"-" }}
                        </p>
                        <h3>Actions</h3>
                        <a href="{% url 'hardware:hardware_edit' pk=hw.pk %}" class="edit">Edit</a>
                        <a href="{% url 'hardware:hardware_delete' pk=hw.pk %}" class="delete">Delete</a>
                    </div>
                </div>
            {% empty %}
                <div class="user-item">
                    <div class="user-summary">
                        <span class="empty-list-message empty-list-message-centered">No hardware to display.</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </content>
    </container>
{% endblock content %}
{% block extra_js %}
    <script>
$(document).ready(function () {
  $('.user-summary').on('click', function (event) {
    if ($(event.target).closest('a').length) {
      return;
    }
    $(this).siblings('.user-details').slideToggle();
    $(this).find('.expand-icon').toggleClass('expanded');
  });
});
    </script>
{% endblock extra_js %}
