{% extends "base.html" %}
{% load static %}
{% block title %}
    Add User
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/users/users-add.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Add User
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>Users Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'users:users_list' %}" class="selected">Users</a>
            </li>
            <li>
                <a href="{% url 'users:roles_list' %}">Roles</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'users:users_list' %}" class="action-tab">View Users</a>
        <a href="{% url 'users:users_add' %}" class="action-tab selected">Add User</a>
    </content-nav>
    <content>
        <div class="user-form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">First Name:</label>
                    {{ form.name }}
                    {% if form.name.errors %}<div class="form-error">{{ form.name.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_surname">Last Name:</label>
                    {{ form.surname }}
                    {% if form.surname.errors %}<div class="form-error">{{ form.surname.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_position">Position:</label>
                    {{ form.position }}
                    {% if form.position.errors %}<div class="form-error">{{ form.position.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_id_role">Role:</label>
                    {{ form.id_role }}
                    {% if form.id_role.errors %}<div class="form-error">{{ form.id_role.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_email">E-mail:</label>
                    {{ form.email }}
                    {% if form.email.errors %}<div class="form-error">{{ form.email.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                    {% if form.username.errors %}<div class="form-error">{{ form.username.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                    {% if form.password.errors %}<div class="form-error">{{ form.password.errors }}</div>{% endif %}
                </div>
                <button type="submit">Add User</button>
            </form>
        </div>
    </content>
    </container>
{% endblock content %}
