{% extends "base.html" %}
{% load static %}
{% block title %}
    Add Role
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_edit.css' %}" />
{% endblock extra_css %}
{% block page_title %}
    Add Role
{% endblock page_title %}
{% block content %}
    <panel>
    <div class="inner-panel">
        <h3>Roles Tables:</h3>
        <ul>
            <li>
                <a href="{% url 'users:users_list' %}">Users</a>
            </li>
            <li>
                <a href="{% url 'users:roles_list' %}" class="selected">Roles</a>
            </li>
        </ul>
    </div>
    </panel>
    <container>
    <content-nav>
        <a href="{% url 'users:roles_list' %}" class="action-tab">View Roles</a>
        <a href="{% url 'users:roles_add' %}" class="action-tab selected">Add Role</a>
    </content-nav>
    <content>
        <div class="user-form-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Name:</label>
                    {{ form.name }}
                    {% if form.name.errors %}<div class="form-error">{{ form.name.errors }}</div>{% endif %}
                </div>
                <div class="form-group">
                    <label for="id_description">Description:</label>
                    {{ form.description }}
                    {% if form.description.errors %}<div class="form-error">{{ form.description.errors }}</div>{% endif %}
                </div>
                <button type="submit">Add Role</button>
            </form>
        </div>
    </content>
    </container>
{% endblock content %}
