{% extends "base.html" %}
{% load static %}
{% block title %}
    Sign In
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_edit.css' %}" />
    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .user-form-container {
            width: 100%;
            max-width: 400px;
        }
        .full-width-container {
            width: 100%;
        }
    </style>
{% endblock extra_css %}
{% block page_title %}
    Sign In
{% endblock page_title %}
{% block content %}
    <container class="full-width-container">
    <content>
        <div class="login-container">
            <div class="user-form-container">
                <form method="post" action="{% url 'users:signin' %}">
                    {% csrf_token %}
                    <h2>Sign in</h2>
                    {% if form.non_field_errors %}
                        <div class="form-error">
                            {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}<div class="form-error">{{ field.errors|striptags }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </content>
    </container>
{% endblock content %}
